<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.StudentDao">
	<!--多对一操作：没什么好说的，就是查询的Student结果中的Class信息是一样的-->
	<select id="findManyToOne" resultMap="c">
		SELECT c.class_id,c.class_name,s.student_id,s.student_name,s.class_id FROM t_class c,t_student s WHERE c.class_id=s.class_id;
	</select>
	<resultMap type="entity.Student" id="c">
		<id property="studentId" column="student_id"></id>
		<result property="classId" column="class_id"></result>
		<result property="name" column="student_name"></result>
		<association property="cl" javaType="entity.Class">
		<id property="classId" column="class_id"></id>
		<result property="className" column="class_name"></result>
		</association>
	</resultMap>
</mapper>